<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="GO Consult is a digital consulting service platform, a platform that exists as a career preparation assistance solution">
    <title>Go Consult</title>
</head>

<body>
    <header>
        <a href="" class="logo"></a>
        <nav id="navigationDrawer">
            <ul class="links-nav">
                <li><a href="">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Service</a></li>
                <li><a href="">Consultant</a></li>
                <li><a href="">Our Team</a></li>
                <li><a href="">Portofolio</a></li>
            </ul>
        </nav>
        <button id="hamburgerButton" tabindex="0" aria-label="Click to Show Side Menu" class="canvas-menu">☰</button>
    </header>
    <main></main>
    <footer>
        
    </footer>
</body>

</html>