<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="GO Consult is a digital consulting service platform, a platform that exists as a career preparation assistance solution">
    <title>Go Consult</title>
</head>

<body>
    <!-- Header Section -->
    <header id="headerContent">
        <a href="#/home-page" class="logo"></a>
        <nav>
            <ul class="links-nav">
                <li><a href="#/home-page">Home</a></li>
                <li><a href="#/about-page">About</a></li>
            </ul>
        </nav>
        <button id="hamburgerButton" tabindex="0" aria-label="Click to Show Side Menu" class="canvas-menu">☰</button>
    </header>
    <!-- Header Section -->

    <!-- Main Section -->
    <main id="mainContent"></main>
    <!-- Main Section -->

    <!-- Footer Section  -->
    <footer id="footerContent">
        <p>Copyright</p>
    </footer>
    <!-- Footer Section  -->
</body>

</html>