<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="GO Consult is a digital consulting service platform, a platform that exists as a career preparation assistance solution">
    <title>Go Consult</title>
</head>

<body>
    <!-- Header Section -->
    <header id="headerContent">
        <a href="#/home-page" class="logo">Go Consult</a>
        <nav id="drawer" class="links-nav">
            <li><a href="#/home-page">Home</a></li>
            <li><a href="#/about-page">About Us</a></li>
            <li><a href="#/services-page">Services</a></li>
            <li><a href="#/help-page">Help</a></li>
            <li><a href="#/faq-page">FAQ</a></li>
        </nav>
        <button id="hamburgerButton" tabindex="0" aria-label="Click to Show Side Menu" class="canvas-menu">☰</button>
    </header>
    <!-- Header Section -->

    <!-- Main Section -->
    <main id="mainContent"></main>
    <!-- Main Section -->

    <!-- Footer Section  -->
    <footer id="footerContent">
        <section id="main-footer">
            <div class="company">
                <div class="logo-company">
                    <h2>Go Consult</h2>
                </div>
                <div class="description">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat exercitationem corrupti illum
                        cum
                        veniam itaque!</p>
                </div>
            </div>
            <div class="links-footer">
                <div class="card-links">
                    <h3 class="title-footer">Sosial Media</h3>
                    <div class="list-links">
                        <li><a href="">Instagram</a></li>
                        <li><a href="">Twitter</a></li>
                        <li><a href="">Linkedin</a></li>
                    </div>
                </div>
                <div class="card-links">
                    <h3 class="title-footer">Program</h3>
                    <div class="list-links">
                        <li><a href="">Consulting</a></li>
                        <li><a href="">Be a Consultant</a></li>
                    </div>
                </div>
                <div class="card-links">
                    <h3 class="title-footer">Support</h3>
                    <div class="list-links">
                        <li><a href="">About Us</a></li>
                        <li><a href="">Setting</a></li>
                        <li><a href="">Privacy</a></li>
                    </div>
                </div>
            </div>
            <div class="contact-footer">
                <div class="website">
                    <h3>Website</h3>
                    <p>goconsult@gmail.com</p>
                </div>
                <div class="telephone">
                    <h3>Telephone</h3>
                    <p>+6288 999 222 333</p>
                </div>
            </div>
        </section>
        <section id="copyright">
            <h5>&copy; Copyright Go Consult 2023</h5>
        </section>
    </footer>
    <!-- Footer Section  -->
</body>

</html>