/* Mini Tablet Size Responsive */
@media screen and (min-width: 480px) {
    .about img {
        order: 2;
    }

    .about .text-about {
        order: 1;
    }

    .registration-consultant .upload-foto {
        width: 250px;
        height: 300px;
    }

    .be-consultant form button {
        margin: 0 100px;
    }

    section.consultants {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

/* Tablet Size Responsive */
@media screen and (min-width: 640px) {
    nav {
        display: flex;
        gap: 20px;
        position: relative;
    }

    .links-nav {
        margin-right: 50px;
        display: flex;
        align-items: center;
    }

    .canvas-menu {
        display: none;
    }

    main {
        padding-top: 50px;
    }

    section.hero {
        padding: 100px 50px;
        text-align: left;
    }

    .hero h2 {
        font-size: 40px;
    }

    .image-hero img {
        padding: 50px;
        display: grid;
    }

    .text-hero .connect-button {
        margin-top: 90px;
    }

    .text-hero .connect-button .button {
        text-align: center;
        vertical-align: middle;
    }

    section.statistic {
        padding: 50px;
    }

    section.benefits {
        padding: 50px;
    }

    section.about {
        gap: 50px;
    }

    .main-title.benefits {
        text-align: left;
    }

    section.riviews {
        padding: 50px;
    }

    section.faq {
        padding: 50px;
    }

    section.service-packages {
        padding: 50px;
    }

    section.flow-cosultation {
        padding: 50px;
    }

    section.blog {
        padding: 50px;
    }

    section.about {
        padding: 50px;
    }

    section.team {
        padding: 50px;
    }

    section.consultants {
        padding: 50px;
    }

    section.consultants {
        display: flex;
        flex-direction: column;
    }

    .list-consultant {
        width: 100%;
    }

    .list-class {
        width: 100%;
    }

    .detail-consultant .booking-class {
        justify-content: right;
    }

    section.job-vacancy {
        padding: 50px;
    }

    .big-title-vacancy h3 {
        font-size: 32px;
    }

    .title-page {
        margin-top: 20px;
        padding: 30px 50px;
    }

    .see-more.category-blog {
        display: flex;
    }

    section.be-consultant {
        padding: 50px;
    }

    .registration-consultant {
        gap: 20px;
    }

    .be-consultant form button {
        margin: 0 250px;
    }

    section.autentication img {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    section.successfully {
        padding: 50px;
    }

    footer .main-footer {
        text-align: left;
        padding: 50px;
        justify-content: flex-start;
    }

    .company {
        margin-bottom: 100px;
    }

    .links-footer {
        margin-bottom: 0px;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .contact-footer {
        width: 40%;
        left: 0;
        margin-left: 50px;
    }

    section.copyright {
        padding: 20px 0px 20px 50px;
    }
}

/* Desktop Size Responsive */
@media screen and (min-width: 1200px) {
    section.autentication {
        display: flex;
        flex-direction: row;
    }

    .be-consultant form {
        padding: 0px 200px;
    }

    section.consultants {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .list-consultant {
        width: 75%;
    }

    .list-class {
        width: 25%;
        margin-top: 60px;
    }
}