@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* End Configuration Tag Style Design System */

:root {
    --main-color: #1C1E53;
    --more-color: #4B51E2;
    --white-color: #ECECF1;
    --secondary-white-color: #F4F6FC;
}

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-weight: 200;
    line-height: normal;
    font-size: 16px;
    position: relative;
    background-color: white;
}

li {
    list-style: none;
}

span {
    color: var(--main-color);
}

.main-title {
    font-size: 32px;
    font-weight: 600;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

/* End Configuration Tag Style Design System */


/* ================================================== */


/* Mobile Size Responsive */

/* Start Header */

header {
    width: 100%;
    height: auto;
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 99;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.logo {
    background-color: white;
    width: 150px;
    height: 70px;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.canvas-menu {
    padding: 5px 10px;
    margin-right: 20px;
    color: var(--main-color);
    border: 3px solid white;
    border-radius: 8px;
}

.canvas-menu:focus {
    border: 3px solid var(--more-color);
}

nav {
    display: none;
    top: 0;
    left: 0;
    position: absolute;
}

.links-nav {
    margin-right: 20px;
}

.links-nav li a {
    color: var(--white-color);
    transition: 0.2s ease;
    text-decoration: none;
}

.links-nav li a:hover {
    color: var(--more-color);
}

.links-nav li a.register {
    background-color: var(--more-color);
    padding: 10px 20px;
    border-radius: 8px;
}

.links-nav li a.register:hover, a.login:hover {
    padding: 10px 20px;
    border-radius: 8px;
    background-color: var(--secondary-white-color);
}

.links-nav li a.login {
    border: 1px solid var(--more-color);
    padding: 10px 20px;
    border-radius: 8px;
}

nav.open {
    padding: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: absolute;
    z-index: 100;
    background: var(--main-color);
    width: 75%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
}

/* End Header */

/* ==================================================== */

/* Start Main */

main {
    width: 100%;
    height: auto;
    padding-top: 70px;
}

/* Start Hero Section */

section.hero {
    background-color: var(--main-color);
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 50px 20px;
    text-align: center;
}

.hero h2 {
    font-size: 36px;
    color: var(--white-color);
}

.image-hero img {
    width: 100%;
    padding: 20px;
    display: none;
}

.text-hero {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--white-color);
}

.text-hero h4 {
    font-size: 18px;
}

.text-hero .connect-button {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;
    margin-top: 40px;
}

.text-hero .connect-button .button {
    padding: 8px 10px;
    background-color: var(--white-color);
    border-radius: 4px;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-decoration: none;
    transition: 0.3s ease;
}

.text-hero .connect-button .button:hover {
    box-shadow: none;
    background-color: var(--more-color);
    color: var(--white-color);
}

/* End Hero Section */

/* Start Statistic Section */

section.statistic {
    padding: 20px;
    height: auto;
    width: 100%;
    display: flex;
    gap: 30px;
    text-align: center;
    background-color: #EEF4FA;
}

.statistic .category-statistic {
    flex-direction: column;
}

.statistic .category-statistic h2 {
    font-size: 28px;
}

.statistic .category-statistic p {
    margin: 0;
}

/* End Statistic Section */

/* Start Benefits Section */

section.benefits {
    width: 100%;
    padding: 20px;
}

.benefits .container-benefits {
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.card-benefits {
    background-color: #F4F6FC;
    padding: 35px;
}

.card-benefits p {
    margin: 0;
}

.title-benefits {
    font-weight: 800;
    margin: 20px 0;
    font-size: 20px;
}

.main-title.benefits {
    text-align: center;
    font-size: 28px;
}

/* End Benefits Section */

/* Start Riviews Section */

section.riviews {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    background-color: var(--secondary-white-color);
    padding: 50px 20px;
}

.riview {
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.main-title.riviews {
    text-align: left;
}

.main-title.riviews h2 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
}

.main-title.riviews p {
    font-size: 16px;
    max-width: 300px;
}

.riviewer {
    display: flex;
    gap: 10px;
    align-items: center;
}

.riviewer img {
    width: 45px;
    height: 45px;
    background-color: #FCD980;
    border-radius: 50%;
}

.riviewer .profile .name {
    font-weight: 700;
}

.riviewer .profile .jobs {
    font-size: 14px;
}

.riviewer .circle-pagination {
    width: 50%;
    display: flex;
    gap: 5px;
    justify-content: right;
}

.circle-pagination span {
    width: 15px;
    height: 15px;
    background-color: var(--more-color);
    border-radius: 50%;
}

.circle-pagination span.active {
    background-color: var(--main-color);
}

/* End Riviews Section */

/* Start Frequently Asked Question */

section.faq {
    background-color: var(--main-color);
    display: grid;
    padding: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.faq .main-title.faq {
    width: 60%;
    text-align: left;
    color: var(--white-color);
}

.faq .accordion-item {
    color: var(--white-color);
    background-color: var(--main-color);
    border: none;
    border-bottom: 1px solid var(--secondary-white-color);
    border-top: 1px solid var(--secondary-white-color);
}

.faq .accordion-button {
    color: var(--white-color);
    background-color: var(--main-color);
}

/* End Frequently Asked Question */

/* Start Service Packages Section */

section.service-packages {
    padding: 20px;
    background-color: var(--main-color);
}

.main-title.service-pakages {
    color: var(--white-color);
}

.container-packages {
    margin: 50px 0;
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.card-package {
    padding: 30px;
    background-color: var(--white-color);
    border-radius: 2%;
}

.title-packages {
    margin: 15px 0;
    font-size: 22px;
    text-transform: uppercase;
}

.card-package p {
    margin-top: 15px;
    font-weight: 400;
    color: rgb(69, 69, 69);
    margin: 0;
}

/* End Service Packages Section */

/* Start Flow Consultation Section */

.search {
    margin-bottom: 50px;
}

section.flow-cosultation {
    padding: 20px;
}

a.card-consultant {
    text-decoration: none;
}

.container-flow {
    background-color: var(--secondary-white-color);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.card-flow {
    width: 100%;
    text-align: center;
    padding: 30px;
}

.card-flow img {
    width: 200px;
    height: 200px;
}

.card-flow .title-flow {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    gap: 10px;
}

.card-flow .title-flow h3 {
    font-size: 18px;
    margin: 0;
}

.card-flow .title-flow img {
    width: 30px;
    height: 30px;
}

.card-flow p {
    font-size: 14px;
    font-style: italic;
}

/* End Flow Consultation Section */

/* Start Blogs Section */

section.blog {
    padding: 20px;
}

.main-title.blog {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.main-title.blog h3 {
    font-weight: 700;
}

.main-title.blog a {
    font-size: 16px;
    text-decoration: none;
}

.main-title.blog a:hover {
    color: var(--main-color);
}

.main-title.blogs h5 {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    margin: 50px 0;
}

.see-more {
    display: flex;
    align-items: center;
    gap: 10px;
    color: black;
    padding: 10px 5px;
    transition: 0.2s ease-in;
    text-decoration: none;
    width: fit-content;
}

.see-more:hover {
    background-color: var(--secondary-white-color);
}

.container-blog {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.card-blog {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 2%;
    height: fit-content;
}

.description-blog {
    padding: 15px;
}

.description-blog h4.title-blog {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 20px;
}

.description-blog p.description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

.description-blog p.description {
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

.card-blog img {
    width: 100%;
    height: 250px;
}

.card-blog .date-blog {
    font-size: 14px;
    margin: 5px 0;
}

.card-blog .title-blog {
    margin: 10px 0;
}

.card-blog .description {
    margin-bottom: 15px;
}

.card-blog a {
    color: black;
}

.card-blog a:hover {
    color: var(--main-color);
}

/* End Blogs Section */

/* Start About Section */

section.about {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    background-color: var(--main-color);
    color: var(--white-color);
}

.main-title.about {
    text-align: left;
    font-size: 32px;
}

.about img {
    width: 100%;
    order: 1;
}

.about .text-about {
    order: 2;
}

/* End About Section */

/* Start Team Section */

section.team {
    padding: 20px;
}

.container-team {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
}

.card-team {
    text-align: center;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: var(--secondary-white-color);
    border-radius: 2%;
    height: auto;
}

.card-team img {
    border-radius: 2%;
    width: 170px;
    background-color: #FBEECF;
}

/* End Team Section */

/* Start List Consultants Section */

section.consultants {
    padding: 20px;
}

.container-consultant {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.card-consultant {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 2%;
    color: black;
}

.card-consultant img {
    width: 100%;
    height: 200px;
    border-radius: 8px 8px 0 0;
}

.description-consultants {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.description-consultants .name-consultant {
    font-size: 18px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

.description-consultants p.job-consultant {
    color: #4B51E2;
    margin: 0;
    font-size: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

.description-consultants .rating {
    gap: 10px;
}

p.country {
    margin: 5px 0;
}

i.favorite {
    margin-top: 10px;
}

.rating p {
    margin: 0;
}

.rating i {
    color: var(--more-color);
    margin-top: 2px;
}

/* End List Consultants Section */

/* Start Job Vacancy Section */

section.job-vacancy {
    padding: 20px;
    width: 100%;
}

.big-title-vacancy {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.big-title-vacancy h3 {
    font-size: 20px;
    font-weight: 700;
}

.see-more.category {
    background: none;
    color: black;
    display: none;
}

.see-more.category:hover {
    color: black;
    background: var(--secondary-white-color);
}

.main-title.job-vacancy {
    text-align: left;
}

.select-view {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.select-view p {
    margin: 0;
}

.select-view a {
    width: 130px;
    text-align: center;
    padding: 10px 15px;
    border-radius: 2%;
    background-color: var(--more-color);
    color: var(--white-color);
    transition: .2s ease-in;
    text-decoration: none;
}

.select-view a:hover {
    color: var(--white-color);
    background-color: var(--main-color);
}

.container-vacancy {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.card-vacancy {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 2%;
    text-decoration: none;
    color: black;
}

.card-vacancy img {
    width: 100%;
}

.card-vacancy .title-job {
    margin-bottom: 5px;
}

.description-vacancy {
    padding: 15px;
}

.information-vacancy {
    display: flex;
    justify-content: space-between;
}

.information-vacancy p {
    margin: 0;
}

/* End Job Vacancy Section */

/* Start Be Consultant Section */

.title-page {
    padding: 30px 20px;
    background-color: var(--secondary-white-color);
}

section.be-consultant {
    padding: 20px;
}

.be-consultant form {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 20px;
}

.registration-consultant {
    display: flex;
    flex-direction: row;
    /* gap: 20px; */
    position: relative;
}

.registration-consultant .upload-foto {
    right: 0;
    top: 0;
    position: absolute;
    width: 150px;
    height: 200px;
}

.registration-consultant .required-input {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.required-input input {
    height: 40px;
    padding: 10px 20px;
    border-radius: 8px;
    border: 1px solid black;
}

.be-consultant form button {
    margin: 0 50px;
    background-color: var(--main-color);
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    border: none;
}

.be-consultant form button:hover {
    background-color: var(--more-color);
}

.be-consultant form button a {
    color: var(--white-color);
    text-decoration: none;
}

.description-be-consultant {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.description-be-consultant textarea {
    border-radius: 8px;
    border: 1px solid black;
    padding: 20px;
    width: 100%;
}

/* Start Be Consultant Section */

/* Start Autentication Section */

section.autentication {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    color: var(--white-color);
    width: 100%;
}

section.autentication img {
    display: none;
}

section.autentication form {
    background-color: var(--main-color);
    height: auto;
    width: 100%;
    padding: 90px 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 500px;
}


.autentication form input {
    height: 50px;
    border-radius: 10px;
    padding: 20px;
}

.autentication form button {
    min-height: 50px;
    border-radius: 10px;
    background-color: black;
    color: var(--white-color);
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.autentication form p.login-already {
    text-align: center;
}

.autentication form a {
    color: var(--white-color);
    margin-left: 10px;
    text-transform: uppercase;
    text-decoration: none;
}

.autentication form a:hover {
    color: var(--more-color);
}

.save-login {
    display: flex;
    align-items: center;
}

.save-login label {
    cursor: pointer;
}

.save-login input {
    width: 15px;
    height: 15px;
    margin-right: 10px;
    background-color: none;
    cursor: pointer;
}

/* End Autentication Section  */

/* Start Successfully Section  */

section.successfully {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    gap: 20px;
    text-align: center;
}

.ok {
    font-size: 100px;
    text-transform: uppercase;
}

.main-title.registration {
    margin-bottom: 0;
}

.buttonSuccess {
    background-color: var(--main-color);
    padding: 10px 20px;
    transition: 0.3s ease-in;
}

.buttonSuccess:hover {
    background-color: var(--more-color);
}

/* End Successfully Section  */

/* Start Schedule Section  */

section.schedule {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    gap: 20px;
    text-align: center;
}

.main-title.schedule {
    margin-bottom: 0;
}

/* Start Schedule Section  */

/* End Main */

/* ================================================== */

/* Start Footer  */

footer {
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 98;
}

/* Start Main Footer Section */

section.main-footer {
    padding: 20px;
    height: auto;
    width: 100%;
    background-color: var(--main-color);
    display: grid;
    justify-content: center;
    gap: 20px;
    position: relative;
    text-align: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.company {
    justify-content: start;
    color: var(--white-color);
}

.links-footer {
    gap: 15px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-bottom: 200px;
    color: var(--white-color);
}

.title-footer {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 18px;
}

.list-links li a {
    color: var(--white-color);
    transition: .2s ease;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

.list-links li a:hover {
    color: var(--more-color);
    padding-left: 8px;
}

.contact-footer {
    gap: 10px;
    padding: 20px;
    background-color: var(--more-color);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    bottom: 0;
    position: absolute;
    border-radius: 8px 8px 0 0;
    width: 90%;
    left: 20px;
    color: var(--white-color);
    gap: 10px;
    vertical-align: middle;
}

.contact-footer h5 {
    font-size: 18px;
    margin: 0;
}

.contact-footer p {
    font-size: 14px;
}

/* End Main Footer Section */

/* Start Copyright Section */

section.copyright {
    background-color: #eee;
    width: 100%;
    padding: 20px 0px 20px 20px;
    text-align: left;
}

section.copyright h5 {
    font-size: 14px;
}

/* End Copyright Section */

/* End Footer */

/* ================================================== */